{eunit_opts, [verbose]}.

{port_specs,
  [{"linux", "priv/enm_drv.so", ["c_src/*.c"],
    [{env,
      [{"DRV_CFLAGS", "$DRV_CFLAGS -Wall -fPIC -Ic_src"},
       {"DRV_LDFLAGS", "$DRV_LDFLAGS -lnanomsg -lanl"}]
    }]
   },
   {"win32", "priv/enm_drv.dll", ["c_src/*.c"],
     [{env,
      [{"CC", "c_src\\win32\\cl.bat"},
       {"LINKER", "c_src\\win32\\link.bat"},
       {"DRV_CFLAGS", "$DRV_CFLAGS /Ic_src /D_CRT_SECURE_NO_WARNINGS /DNN_NO_EXPORTS"},
       {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/win32/lib/nanomsg.lib ws2_32.lib Advapi32.lib Mswsock.lib"}]
     }]
   }]
}.

{erl_opts, [debug_info, fail_on_warning]}.

{require_otp_vsn, "18"}.